.loading {
    font: 32px/1.5 Monospace;
    color: #000;
    perspective: 100px;
  }
  .loading > span {
    animation: flip 2.5s infinite;
    display: inline-block;
    transform-origin: 50% 50% -10px;
    transform-style: preserve-3d;
  }
  .loading > span:nth-child(1) {
            animation-delay: 0.05s;
  }
  .loading > span:nth-child(2) {
            animation-delay: 0.1s;
  }
  .loading > span:nth-child(3) {
            animation-delay: 0.15s;
  }
  .loading > span:nth-child(4) {
            animation-delay: 0.2s;
  }
  .loading > span:nth-child(5) {
            animation-delay: 0.25s;
  }
  .loading > span:nth-child(6) {
            animation-delay: 0.3s;
  }
  .loading > span:nth-child(7) {
            animation-delay: 0.35s;
  }
  .loading > span:nth-child(8) {
            animation-delay: 0.4s;
  }
  
  @keyframes flip{
    0% { transform: rotateX(0turn); }
    60% { transform: rotateX(1turn); }
    100% { transform: rotateX(1turn); }
  }

#cup {
    position: relative;
}

#eye {
    animation: animated-eye 5s ease-out infinite;
    background: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes animated-eye {
    0% { left: 320px; top: 378px; }
    27% { left: 320px; top: 378px;  background: #000}
    28% { left: 320px; top: 378px;  background: #fff}
    30% { left: 320px; top: 378px;  background: #000}
    52% { left: 320px; top: 378px; }
    55% { left: 300px; top: 390px; }
    70% { left: 300px; top: 390px; }
    75% { left: 340px; top: 390px; }
    90% { left: 340px; top: 390px; }
    93% { left: 320px; top: 378px; }
    97% { left: 320px; top: 378px;  background: #000}
    98% { left: 320px; top: 378px;  background: #fff}
    100% { left: 320px; top: 378px;  background: #000}
}

.starting {
  color: #1a595d;
  animation: spin 1s linear infinite;
  display: inline-flex;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #5f905f;
    margin: 0px;
    font: 32px/1.5 Monospace;
    color: #000;
}
