<p>Production queue state: {{state}}</p>
<button mat-raised-button *ngIf="state == 'waitingOrder' || state == 'waitingStart'" (click)="PauseProduction()">Pause Production</button>
<button mat-raised-button *ngIf="state == 'productionPaused'" (click)="ResumeProduction()">Resume Production</button>
<button mat-raised-button *ngIf="state == 'waitingStart'" (click)="StartProcessing()">Start Processing</button>

<mat-table class="productionTable" #table [dataSource]="dataSource">
  <ng-container matColumnDef="OrderNr">
    <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">OrderNr.</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.OrderNr}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DrinkId">
    <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">DrinkId</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.DrinkId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DrinkName">
    <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'">DrinkName</mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'customWidthClass'"> {{row.DrinkName}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
