<div class="admin-content">
    <mat-tab-group [selectedIndex]="index">
        <mat-tab label="Aufträge" i18n-label="tab item">
            <my-admin-orders></my-admin-orders>
        </mat-tab>
        <mat-tab label="Produktion" i18n-label="tab item">
            <my-admin-production></my-admin-production>
        </mat-tab>
        <mat-tab label="Zutaten" i18n-label="tab item">
            <my-admin-component></my-admin-component>
        </mat-tab>
        <mat-tab label="Service" i18n-label="tab item">
            <my-admin-service></my-admin-service>
        </mat-tab>
        <mat-tab label="Rezept" i18n-label="tab item">
            <app-admin-recipe></app-admin-recipe>
        </mat-tab>
        <mat-tab label="Wallet" i18n-label="tab item">
            <app-admin-wallet></app-admin-wallet>
        </mat-tab>
    </mat-tab-group>
</div>
