<div class="container">

  <div class="row title">
    <div class="left">Verfügbare Cocktails</div>
    <div class="right">Anzahl an Drinks: {{drinks.length}}</div>
  </div>

  <md-grid-list class="drinklistgrid" cols="{{gridcols}}" row-height="1:1" gutterSize="1rem">
    <md-grid-tile [routerLink]="['/drinks', drink.id]"  *ngFor="let drink of drinks" style="background-color: #FBFBFB" >
      <div class="drinkTileContent">
        <img md-card-image class="drinkImg" src="/api/drinks/{{drink.id}}/image">
        <div class="components">
          <!--<p>Beinhaltet:</p>-->
          <ul class="componentsList" >
            <li class="componentsLi" *ngFor="let component of drink.components">{{component.name}}</li>
          </ul>
        </div>

      </div>

      <md-grid-tile-footer>{{drink.title}}</md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</div>
