<div class="container">

  <div class="row title">
    <div class="left">Verfügbare Cocktails</div>
    <my-internet-connection></my-internet-connection>
    <div class="right">Anzahl an Drinks: {{drinks.length}}</div>
  </div>
  <mat-select placeholder="Kann Zutaten" multiple="true">
    <mat-option *ngFor="let comp of components" [value]="comp.id">{{comp.name}}</mat-option>
  </mat-select>
  <mat-select placeholder="Muss Zutaten" multiple="true">
    <mat-option *ngFor="let comp of components" [value]="comp.id">{{comp.name}}</mat-option>
  </mat-select>

  <mat-grid-list class="drinklistgrid" cols="{{gridcols}}" row-height="1:1" gutterSize="1rem">
    <mat-grid-tile [routerLink]="['/drinks', drink.id]"  *ngFor="let drink of drinks | drinkFilter:{}" style="background-color: #FBFBFB" >
      <div class="drinkTileContent">
        <img mat-card-image class="drinkImg" src="/api/drinks/{{drink.id}}/image">
        <div class="components">
          <!--<p>Beinhaltet:</p>-->
          <ul class="componentsList" >
            <li class="componentsLi" *ngFor="let component of drink.components">{{component.name}}</li>
          </ul>
        </div>

      </div>

      <mat-grid-tile-footer>{{drink.title}}</mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
