<div class="row title">
    <h1>Bestellabwicklung</h1>

</div>

<div class="row">
   <div class="one-half column">
 <div *ngIf="orderState">
    <h3>Auftragsstatus: {{orderState.toState}}</h3>
    <div *ngIf="orderState.toState == 'inProduction'">
      <p>Fortschritt: {{progress}}%</p>
    </div>
    <div *ngIf="orderState.toState == 'waitingPayment'">
      <my-payment></my-payment>
    </div>
    <div *ngIf="orderState.toState == 'readyForProduction'">
      <button (click)="ProductionStart()">Start Pumping</button>
    </div>
  </div>
   </div>
<div class="one-half column" >
    
    <h3>Auftragsdetails</h3>
    <table>
      <thead>
        <tr>
        <th>Auftragsnummer</th>
        </tr>
      </thead>

    </table>


   <div *ngIf="order">
    <h5>Auftragsnummer</h5>{{order.orderNumber}}
    <p>Auftraggeber: {{order.orderName}}</p>
   </div> 
    <div *ngIf="drink">
      <p>Bestellter Drink: {{drink.description}}</p>
    </div>
  <div *ngIf="user">
    <p>Rezepthersteller: {{user.firstname}} {{user.lastname}}</p>
  </div>
</div>

 


</div>

