<mat-drawer-container fxFlexFill>
    <mat-drawer mode="side" opened="true" fxFlex="350px" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center" class="mat-elevation-z6"
        style="padding-left: 15px; padding-right: 15px;">
        <div fxLayout="column" fxLayoutGap="5px">
            <h3 i18n="title">Vorlieben:</h3>
            <div *ngFor="let comp of components" fxLayout="row" fxLayoutAlign="center center">
                <div>{{comp.name}}</div>
                <div fxFlex></div>
                <mat-button-toggle-group [(ngModel)]="componentSelection[comp.id]" (change)="filterChanged()">
                    <mat-button-toggle value="i" matTooltip="Nur Getränke mit {{comp.name}}" matTooltipPosition="after" MatTooltipTouchendHideDelay="2000"
                        i18n-matTooltip>
                        😋
                    </mat-button-toggle>
                    <mat-button-toggle value="n" matTooltip="Getränke dürfen {{comp.name}} beinhalten" matTooltipPosition="after" MatTooltipTouchendHideDelay="2000"
                        i18n-matTooltip>
                        😶
                    </mat-button-toggle>
                    <mat-button-toggle value="e" matTooltip="Nur Getränke ohne {{comp.name}}" matTooltipPosition="after" MatTooltipTouchendHideDelay="2000"
                        i18n-matTooltip>
                        🤢
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div fxLayout="column">
            <div style="text-align: center;">{{(drinks|recipeFilter: filterData).length}}
                <ng-container i18n>{(drinks|recipeFilter: filterData).length, plural, =1 {Getränk ist mit diesen Vorlieben verfügbar} other
                    {Getränke sind mit diesen Vorlieben verfügbar}}</ng-container>
            </div>
            <button mat-button (click)="resetFilter()" [disabled]="!resetEnabled" i18n="button">Filter löschen</button>
        </div>

        <div fxFlex fxLayoutAlign="center end">
            <ui-carousel class="logo-space" [infinite]="true" [fade]="false" [speed]="300" [arrows]="false" [dots]="false" [autoPlaySpeed]="5000" width="80%" height="100px">
                <ui-carousel-item>
                    <img class="logoimg" src="./assets/gefoerdert_vom_BMBF.svg">
                </ui-carousel-item>
                <ui-carousel-item>
                    <img class="logoimg" src="./assets/TruLogo.svg">
                </ui-carousel-item>
                <ui-carousel-item>
                    <img class="logoimg" src="./assets/powered_by_axoom_vertical.svg">
                </ui-carousel-item>
                <ui-carousel-item>
                    <img class="logoimg" src="./assets/CodeMeter_inside.svg">
                </ui-carousel-item>
            </ui-carousel>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="scrolling-container">
            <div fxLayout="row true" class="container" fxLayoutAlign="space-around">

                <mat-card *ngFor="let drink of drinks | recipeFilter: filterData" class="recipecard" (click)="cardClick(drink)">
                    <!--<mat-card-content>-->
                    <h3 class="recipe-title">{{drink.title}}</h3>

                    <!--<img mat-card-image [style.background-color]="drinkColors[drink.id]"  src="/api/drinks/{{drink.id}}/image">-->
                    <img mat-card-image [style.background-color]="drinkColors[drink.id]" src="/api/drinks/{{drink.id}}/image">
                    <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
                        <div fxFlex="60px">
                            <img mat-card-avatar src="/api/users/{{drink.authorId}}/image">
                        </div>
                        <div fxFlex="*">{{users[drink.authorId].firstname}} {{users[drink.authorId].lastname}}</div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>