img.drinkImg{
  position:absolute;
  /*opacity:0.3;*/
  max-width: 100%;
  max-height: 100%;
  /*max-height: 150px;*/
  /*float: left;*/
  align-self: center;
  margin: auto;
  /*margin-bottom: 50px;*/
  top: 0; left: 0; bottom: 0; right: 0;
}


.example-fill-remaining-space {
  flex: 1 1 auto;
}
.description{
  position: absolute;
  width: 90%;
  height: 90%;
  float: none;
}


h3 {

}

.surroundingCard{
  padding: 2rem;
}


.priceWidthClass{
  flex: 0 0 70px;
}

.customWidthClass{
   flex: 0 0 50px;
 }


.titleWidthClass{
  flex: 1 0 100px;
}

.centered {
  width:100%;
  text-align: center;
}

.orderSteps {
  display: inline-block;
  font-size: 3.5rem;
  font-family: 'open_sanslight';
  padding-bottom: 2em;
}

.orderSteps .step {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 2em;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-size: 6rem ;
  text-decoration: underline;
  text-align: left;
  position: relative;

}


/*.orderSteps .licensepayment{*/
  /*background-image: url('../../img/lnr-cloud.svg');*/
/*}*/
/*.orderSteps .license{*/
  /*background-image: url('../../img/lnr-license.svg');*/
/*}*/
/*.orderSteps .payment{*/
  /*background-image: url('../../img/lnr-cart.svg');*/
/*}*/
/*.orderSteps .production{*/
  /*background-image: url('../../img/lnr-coffee-cup.svg');*/
/*}*/

.stepIcons{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.stepIcons .licensepayment{
  background-image: url('../../img/lnr-cloud.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.stepIcons .license{
  background-image: url('../../img/lnr-license.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.stepIcons .payment{
  background-image: url('../../img/lnr-cart.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.stepIcons .production{
  background-image: url('../../img/lnr-coffee-cup.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.stepIcons .arrow{
  background-image: url('../../img/lnr-arrow.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}


.orderSteps  .off{
  opacity: 0.2;
  text-decoration: none;
}

.orderSteps  .done{
  text-decoration: none;
  background-image: url('../../img/lnr-check.svg');
}

/*.orderSteps .done::after{*/
  /*content: " ✓";*/
  /*padding-left: 0.1em;*/
  /*color: #598cb3;*/
/*}*/

.orderSteps p {
  padding-top: 1em;
  font-size: 2rem;
}

.orderButton {
  margin-top: 5rem;
  font-size: 2rem;
  background-color: #598cb3;
  border-color: #598cb3;
  color: white;
}

.activeSpinner{
  position: absolute;
  height: 4rem;
  left: -3.5rem;

}
