<div class="container">
<div class="row title">
    <h1>Bestellabwicklung</h1>
</div>

  <div class="row">
    <div class="one-half column">
      <div *ngIf="orderState">
          <div [ngSwitch]="orderState.toState">
                <h4>&nbsp;</h4>

              <div class="orderSteps" *ngSwitchCase="'waitingOffer'">
                  <div class="step order">Lizenzanfrage</div>
                  <div class="step payment off">Bezahlung</div>
                  <div class="step production off">Produktion</div>
              </div>


              <div class="orderSteps" *ngSwitchCase="'waitingPayment'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment">Bezahlung</div>
                  <div class="step production off">Produktion</div>

                  <button *ngIf="showDialog == false" class="paymentButton" (click)="ShowPaymentModal()">Jetzt bezahlen</button>
                  <my-payment *ngIf="showDialog"></my-payment>

              </div>


              <div class="orderSteps" *ngSwitchCase="'waitingLicense'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production off">Produktion</div>
              </div>

              <div class="orderSteps" *ngSwitchCase="'waitForProduction'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production ">Produktion</div>

                  <p> Auftrag in der Warteschlange.</p>
              </div>
              <div class="orderSteps" *ngSwitchCase="'readyForProduction'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production ">Produktion</div>

                  <button class="orderButton" (click)="ProductionStart()">Getränk zubereiten</button>
              </div>

              <div class="orderSteps" *ngSwitchCase="'startProduction'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production ">Produktion</div>
                  <p>Produktion wird gestartet.</p>

              </div>
              <div class="orderSteps" *ngSwitchCase="'inProduction'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production ">Produktion</div>
                  <progress value="{{progress}}" max="100"></progress>

              </div>
              <div class="orderSteps" *ngSwitchCase="'productionFinished'">
                  <div class="step order done">Lizenzanfrage</div>
                  <div class="step payment done">Bezahlung</div>
                  <div class="step production done">Produktion</div>
                  <p>Getränk ist zubereitet.</p>
                  <button class="orderButton" (click)="Home()">Neues Getränk bestellen</button>

              </div>


              <div class="orderSteps" *ngSwitchDefault>
                  <div class="step order off">Lizenzanfrage</div>
                  <div class="step payment off">Bezahlung</div>
                  <div class="step production off">Produktion</div>
              </div>
          </div>
     </div>
    </div>

    <div class="one-half column details" >
        <h4 *ngIf="order">Auftragsdetails</h4>
        <!--<p>{{orderState.toState}}</p>-->
        <table>
        <tr *ngIf="order">
            <td>Auftragsnummer</td>
            <td>{{order.orderNumber}}</td>
        </tr>
        <tr *ngIf="drink">
            <td>Bestellter Drink</td>
            <td>{{drink.title}}</td>
        </tr>
        <tr *ngIf="user">
            <td>Rezepthersteller</td>
            <td>{{user.firstname}} {{user.lastname}}</td>
        </tr>
        </table>
   </div>
</div>


