<div class="container">

  <div class="row title">
    <div *ngIf="drink && order" class="left">Auftrag {{order.orderNumber}}: {{drink.title}}</div>
    <div class="right">
      <button md-button (click)="Home()">zurück</button>
    </div>
  </div>
  <div class="orderStateContainer">

    <div class="stepIcons">
      <md-grid-list cols="11" row-height="1:1" gutterSize="1rem">
        <md-grid-tile class="order" colspan="2" rowspan="2">
          <div class="stepIconTileContent">
            <img src="./assets/lnr-marketplace.svg">
          </div>

        </md-grid-tile>
        <md-grid-tile class="arrow" colspan="1" rowspan="2">

        </md-grid-tile>
        <md-grid-tile class="payment" colspan="2" rowspan="2">
          <div class="stepIconTileContent">
            <img src="./assets/lnr-money.svg">
          </div>
        </md-grid-tile>
        <md-grid-tile class="arrow" colspan="1" rowspan="2">

        </md-grid-tile>
        <md-grid-tile class="license" colspan="2" rowspan="2">
          <div class="stepIconTileContent">
            <img src="./assets/lnr-license.svg">
          </div>
        </md-grid-tile>
        <md-grid-tile class="arrow" colspan="1" rowspan="2">

        </md-grid-tile>
        <md-grid-tile class="production" colspan="2" rowspan="2">
          <div class="stepIconTileContent">
            <img src="./assets/lnr-coffee-cup.svg">
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>

    <div *ngIf="orderState" class="orderStateDetails" [ngSwitch]="orderState.toState">
      <div class="orderSteps" *ngSwitchCase="'waitingOffer'">
        <md-card class="orderStepsCard">
          <!--<md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>play_arrow</md-icon>
                    <p md-line>Lizenzkauf wird initiiert</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Getränk bezahlen</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Lizenzgebühr bezahlen</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Lizenz vom Marktplatz laden</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Getränk zubereiten</p>
                  </md-list-item>

                </md-list>
              </div>
            </md-card-content>

        </md-card>
      </div>
      <div class="orderSteps" *ngSwitchCase="'waitingPayment'">
        <div class="orderStepsFrame">
          <md-card class="orderTableCard">
            <md-card-content class="orderTableContainer">
              <md-table class="orderTable" #table [dataSource]="dataSource">
                <ng-container mdColumnDef="Pos">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'customWidthClass'"> Pos</md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'customWidthClass'"> {{row.Pos}}</md-cell>
                </ng-container>
                <ng-container mdColumnDef="Menge">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'customWidthClass'"> Menge</md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'customWidthClass'"> {{row.Menge}}</md-cell>
                </ng-container>
                <ng-container mdColumnDef="Artikel">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'titleWidthClass'"> Artikel</md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'titleWidthClass'"> {{row.Artikel}}</md-cell>
                </ng-container>
                <ng-container mdColumnDef="UnterPosPreis">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'priceWidthClass'"></md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'priceWidthClass'"> {{row.UnterPosPreis}}</md-cell>
                </ng-container>
                <ng-container mdColumnDef="Preis">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'priceWidthClass'"> Preis</md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'priceWidthClass'"> {{row.Preis}}</md-cell>
                </ng-container>

                <ng-container mdColumnDef="Gesamt">
                  <md-header-cell *mdHeaderCellDef [ngClass]="'priceWidthClass'"> Gesamt</md-header-cell>
                  <md-cell *mdCellDef="let row" [ngClass]="'priceWidthClass'"> {{row.Gesamt}}</md-cell>
                </ng-container>

                <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
              </md-table>
            </md-card-content>
            <div class="sumPrice" *ngIf="drink">zu bezahlen: {{drink.retailPrice / 100000}} IUNO</div>
            <md-card-actions>
              <div class="buttonHorizontalCenter">
                <button md-raised-button color="primary" (click)="ShowPaymentModalQR()">QR-Code</button>
                <button md-raised-button color="primary" (click)="ShowPaymentModalScan()">Scanner</button>
              </div>
            </md-card-actions>
          </md-card>

        </div>

        <!--<my-payment *ngIf="showDialog"></my-payment>-->

      </div>

      <div class="orderSteps" *ngSwitchCase="'waitingLicenseAvailable'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<md-progress-spinner class="activeSpinner" mode="indeterminate"></md-progress-spinner>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable">Lizenzgebühr wird bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license off">Lizenz vom Marktplatz laden</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile></md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production off">Getränk zubereiten</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->

            <!--</md-card-content>-->

            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>play_arrow</md-icon>
                    <p md-line>Lizenzgebühr wird bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Lizenz vom Marktplatz laden</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Getränk zubereiten</p>
                  </md-list-item>

                </md-list>
              </div>
            </md-card-content>
          </md-card>

        </div>
      </div>

      <div class="orderSteps" *ngSwitchCase="'waitingLicense'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->

                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable done">Lizenzgebühr bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<md-progress-spinner class="activeSpinner" mode="indeterminate"></md-progress-spinner>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license">Lizenz vom Marktplatz laden</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile></md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production off">Getränk zubereiten</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->
            <!--</md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>play_arrow</md-icon>
                    <p md-line>Lizenz vom Marktplatz laden</p>
                  </md-list-item>
                  <md-list-item>
                    <!--<md-icon md-list-icon>done</md-icon>-->
                    <p md-line>Getränk zubereiten</p>
                  </md-list-item>

                </md-list>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <div class="orderSteps" *ngSwitchCase="'waitForProduction'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable done">Lizenzgebühr bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license done">Lizenz eingespielt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile></md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production">Getränk zubereiten</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->

              <!--<p> Auftrag in der Warteschlange.</p>-->
            <!--</md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenz eingespielt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>pause</md-icon>
                    <p md-line>Getränk zubereiten</p>
                  </md-list-item>

                </md-list>
              </div>
              <p> Auftrag in der Warteschlange.</p>

            </md-card-content>
          </md-card>
        </div>
      </div>
      <div class="orderSteps" *ngSwitchCase="'readyForProduction'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable done">Lizenzgebühr bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license done">Lizenz eingespielt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile></md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production">Getränk kann zubereitet werden</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->
            <!--</md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenz eingespielt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>play_circle_outline</md-icon>
                    <p md-line>Getränk kann zubereitet werden</p>
                  </md-list-item>

                </md-list>
              </div>

            </md-card-content>
            <md-card-actions>
              <button md-raised-button color="primary" (click)="ProductionStart()">Getränk zubereiten</button>
            </md-card-actions>
          </md-card>

        </div>

      </div>

      <div class="orderSteps" *ngSwitchCase="'startProduction'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable done">Lizenzgebühr bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license done">Lizenz eingespielt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<md-progress-spinner class="activeSpinner" mode="indeterminate"></md-progress-spinner>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production">Getränk wird zubereitet</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->
            <!--</md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenz eingespielt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>play_arrow</md-icon>
                    <p md-line>Getränk wird zubereitet</p>
                  </md-list-item>

                </md-list>
              </div>

            </md-card-content>
          </md-card>

        </div>
        <!--<p>Produktion wird gestartet.</p>-->

      </div>
      <div class="orderSteps" *ngSwitchCase="'inProduction'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
              <!--<md-grid-list cols="5" row-height="5:1">-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step order done">Lizenzkauf getätigt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step payment done">Getränk bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step licenseavailable done">Lizenzgebühr bezahlt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<img class="orderStepIcon" src="./assets/lnr-check.svg">-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step license done">Lizenz eingespielt</div>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile>-->
                  <!--<md-progress-spinner class="activeSpinner" mode="indeterminate"></md-progress-spinner>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile colspan="4">-->
                  <!--<div class="step production">Getränk wird zubereitet</div>-->
                <!--</md-grid-tile>-->
              <!--</md-grid-list>-->

            <!--</md-card-content>-->
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenz eingespielt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>play_arrow</md-icon>
                    <p md-line>Getränk wird zubereitet</p>
                  </md-list-item>

                </md-list>
              </div>

            </md-card-content>
            <md-card-actions>
              <md-progress-bar value="{{progress}}"></md-progress-bar>
            </md-card-actions>
          </md-card>

        </div>


      </div>
      <div class="orderSteps" *ngSwitchCase="'productionFinished'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <md-card-content>
              <div class="orderStepsListContainer">
                <md-list class="orderStepsList">
                  <md-list-item>
                    <md-icon md-list-icon="">done</md-icon>
                    <p md-line>Lizenzkauf getätigt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenzgebühr bezahlt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Lizenz eingespielt</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon md-list-icon>done</md-icon>
                    <p md-line>Getränk zubereitet</p>
                  </md-list-item>

                </md-list>
              </div>
            </md-card-content>
            <md-card-actions>
              <button md-raised-button color="primary" (click)="Home()">Neues Getränk bestellen</button>
            </md-card-actions>
          </md-card>

          <!--<p>Getränk ist zubereitet.</p>-->
        </div>


      </div>

      <div class="orderSteps" *ngSwitchCase="'error'">
        <div class="orderStepsFrame">
          <md-card class="orderStepsCard">
            <!--<md-card-content>-->
            <md-grid-list cols="5" row-height="5:1">

              <md-grid-tile>
              </md-grid-tile>
              <md-grid-tile colspan="4">
                <div class="step production">Leider gab es einen Fehler</div>
              </md-grid-tile>
            </md-grid-list>
            <p>Bitte melden Sie sich beim Standpersonal.</p>
            <!--</md-card-content>-->
          </md-card>

        </div>


      </div>


      <div class="orderSteps" *ngSwitchDefault>
        <md-card class="orderStepsCard">
          <md-card-content>

          </md-card-content>
        </md-card>


      </div>


      <!--<md-card class="surroundingCard">-->
      <!--<md-card-content class="cardContent">-->
      <!---->
      <!--</md-card-content>-->

      <!--&lt;!&ndash;<div class="centered" *ngIf="orderState">&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</md-card>-->
    </div>

  </div>

