<h2 md-dialog-title i18n="title">Diesen QR-Code mit einer Bitcoin Wallet App abscannen</h2>

<mat-dialog-content>
    <div class="qrWrapper">
        <ngx-qrcode *ngIf="paymentRequest && paymentRequest!==''" [qrc-element-type]="elementType"
                    [qrc-value]="paymentRequest"></ngx-qrcode>
        <p *ngIf="errorMessage && errorMessage!==''">{{errorMessage}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="balance && balance.spendable < data.drink.licensefee">
        <p class="warningText" i18n="warning">Achtung. Im Bitcoinwallet ist aktuell für eine schnelle Abarbeitung des
            Lizenzkaufs über diese Methode nicht genug Guthaben vorhanden. Es funktioniert - kann aber bis zu 20 Minuten
            dauern!<br>
            Die Empfehlung ist, zuerst eine Zahlung per Coupon durchzuführen</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close i18n="button">Schließen</button>
</mat-dialog-actions>
