<div class="container">
  <div class="row title">
    <h1>Detailseite</h1>
    <button (click)="getBack()">zurück</button>
</div>    
  <div class="row">
    <div class="one-half column">
        <div class="tileDrink detail" *ngIf="drink">
           
            <div class="inner">
                <h3> {{drink.title}}</h3>
                <img src="/api/drinks/{{drink.id}}/image"/>   
                <p>{{drink.description}}</p>

                <table>
                <tr>
                    <td>Verkaufspreis:</td>
                    <td>{{drink.retailPrice}} IUNOs</td>
                </tr>
                  <tr *ngIf="user">
                    <td>Rezepthersteller:</td>
                    <td>{{user.firstname}} {{user.lastname}}</td>
                </tr>
                </table>

                   <img class="userImg" src="/api/users/{{drink.authorId}}/image"/>

            </div>
                 <button (click)="onClickMe()">Bestellen</button>
        </div>
      </div>
    <div class="one-half column ">
      <div class="note">
        <strong>was hier eigentlich passiert:</strong><br />
      
        - Anforderung eines Datesatzes im verschlüsslten uswusf..
      </div>
    </div>
  </div>
</div>