<div class="row">
    <h1>Drinks</h1>

    <div *ngIf="drinks">
      Anzahl an Drinks: {{drinks.length}}
    </div>
</div>

<div class="row drinks" *ngFor="let drink of drinks" >

      <div class="one-half column">
          <div class="tileDrink">
            <img src="{{drink.thumbnail}}">
            <div class="inner">
                <h3> {{drink.title}}</h3>
                <p>{{drink.description}}</p>
                <h5>{{drink.authorId}}</h5>
                <a [routerLink]="['/drinks', drink.id]">Details anzeigen</a>
             </div>
          </div>
      </div>

      <div class="one-half column">
          <div class="tileDrink">
            <img src="{{drink.thumbnail}}">
            <div class="inner">
                <h3> {{drink.title}}</h3>
                <p>{{drink.description}}</p>
                <h5>{{drink.authorId}}</h5>
                <a [routerLink]="['/drinks', drink.id]">Details anzeigen</a>
             </div>
          </div>
      </div>


</div>


<!--
<li ng-repeat="task in $ctrl.tasks ">
    <a href="#!/tasks/{{task.id}}">{{task.name}}</a>
</li>
-->
