<div class="container">
    <div class="row title">
        <h1>Drinks</h1>
        <h4 *ngIf="drinks">
        Anzahl an Drinks: {{drinks.length}}
        </h4>
    </div>

    <div class="row drinks"  >
          <a [routerLink]="['/drinks', drink.id]" *ngFor="let drink of drinks">
          <div class="tileDrink" >
                            <div class="inner">
                    <h4> {{drink.title}}</h4>
                    <img src="{{drink.thumbnail}}" *ngIf="drink.thumbnail" />
                    <p>{{drink.description}}</p>
                    <h5>{{drink.authorId}}</h5>
                </div>
                <button>Details anzeigen</button>           
          </div> 
        </a>        
    </div>
</div>  
<!--
<li ng-repeat="task in $ctrl.tasks ">
    <a href="#!/tasks/{{task.id}}">{{task.name}}</a>
</li>
-->
