<div class="container">
    <div class="row title">
        <h1>Details</h1>
        <button (click)="getBack()">zurück</button>
    </div>
    <div class="drinkDetail" *ngIf="drink">
        <h3> {{drink.title}}</h3>
        <div class="imgAndText">
            <img class="drinkImg" src="/api/drinks/{{drink.id}}/image"/>
            <div class="description">

                <p>{{drink.description}}</p>
                <p>Beinhaltet:<br>{{components}}</p>
                <p>Verkaufspreis: {{drink.retailPrice / 100000}} IUNOs</p>
                <p>Rezepthersteller:</p>

                <div class="userDetails" *ngIf="user">
                    <img class="userImg" src="/api/users/{{drink.authorId}}/image"/>
                    <div class="userName">
                        <p class="userNameText">{{user.firstname}} {{user.lastname}}</p>
                    </div>
                </div>
                <div class="orderButtonDiv">
                    <button (click)="onClickMe()">Bestellen</button>
                </div>
            </div>
        </div>

    </div>


</div>

