
.footer {
    font-size: 50%;

    background: white;
    padding-bottom: 1em;
    padding-right: 1em;
    border-top: 1px solid #000;
    padding-top: 1em;
    height: 35px;
    position: fixed;

    bottom: 0px;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer img {
    padding: 2px;
    height: 100%;
}

