<p>Production queue state: {{pqState}}</p>
<p>PumpControl service state: {{pcServiceState}}</p>
<p>PumpControl mode: {{pcMode}}</p>

<div *ngIf="pcMode =='idle'">
    <button (click)="ActivateService()">Activate Service Mode</button>
</div>
<div *ngIf="pcMode =='service'">
    <button (click)="DeactivateService()">Deactivate Service Mode</button>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>All Pumps</td>
            <td><button (click)="SetAllPumps(true)">On</button></td>
            <td><button (click)="SetAllPumps(false)">Off</button></td>

        </tr>
        <tr *ngFor="let pump of pumps">
            <td>{{pump.nr}}</td>
            <td><button (click)="SetPump(pump.nr,true)">On</button></td>
            <td><button (click)="SetPump(pump.nr,false)">Off</button></td>
        </tr>
        </tbody>
    </table>




</div>