<p>Production queue state: {{state}}</p>
<div *ngIf="state == 'waitingOrder' || state == 'waitingStart'">
    <button (click)="PauseProduction()">Pause Production</button>
</div>
<div *ngIf="state == 'productionPaused'">
    <button (click)="ResumeProduction()">Resume Production</button>
</div>
<div *ngIf="state == 'waitingStart'">
    <button (click)="StartProcessing()">Start Processing</button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>OrderNumber</th>
        <th>DrinkId</th>
        <th>OrderName</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of queue">
        <td>{{order.orderNumber}}</td>
        <td>{{order.drinkId}}</td>
        <td>{{order.orderName}}</td>
    </tr>


    </tbody>
</table>