<mat-card class="admin-card">
    <mat-card-content>
        <p i18n>Zustand der Produktionswarteschlange: {{pqState}}</p>
        <p i18n>PumpControl Betriebszustand: {{pcServiceState}}</p>
        <p i18n>PumpControl-Modus: {{pcMode}}</p>

        <mat-slide-toggle color="primary" [checked]="statisticsEnabled" (change)="statisticsEnabledChanged($event)" labelPosition="before" i18n>Nutzungsdaten an den Marktplatz senden</mat-slide-toggle>

        <div *ngIf="pcMode =='idle'">
            <button mat-raised-button color="primary" (click)="ActivateService()" i18n="button">Servicemodus aktivieren</button>
        </div>
        <div *ngIf="pcMode =='service'">
            <button mat-raised-button color="primary" (click)="DeactivateService()" i18n="button">Servicemodus deaktivieren</button>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Alle Pumpen</td>
                        <td>
                            <button mat-raised-button (click)="SetAllPumps(true)" i18n="button">An</button>
                        </td>
                        <td>
                            <button mat-raised-button (click)="SetAllPumps(false)" i18n="button">Aus</button>
                        </td>
                    </tr>
                    <tr *ngFor="let pump of pumps">
                        <td>{{pump.nr}}</td>
                        <td>
                            <button mat-raised-button (click)="SetPump(pump.nr,true)" i18n="button">An</button>
                        </td>
                        <td>
                            <button mat-raised-button (click)="SetPump(pump.nr,false)" i18n="button">Aus</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>